<h3 class="pt-5 mt-5">@ViewBag.Message</h3>
<hr class="featurette-heading">
<footer class="container">
    <p class="float-end"><a href="#">Подняться</a></p>
    <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
</footer>