@{
    ViewData["Title"] = "Завершение заказа";
}
<h3 class="">@ViewBag.Message</h3>
<hr class="featurette-heading">
<footer class="container">
    <p class="float-end"><a href="#">Подняться</a></p>
    <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
</footer>