@model Product
<link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true"/>
<section class="product-details mb-4">
    <div class="container-fluid">
        <form asp-action="ChangeProduct" asp-route-id="@Model.Id" method="post">
            <div class="row">

                <div class="col-lg-6 py-3 order-2 order-lg-1">
                    <div class="col-sm-6">
                        <label asp-for="Img" class="form-label"></label>
                        <div>
                            <input asp-for="Img" class="form-control" />
                            <span asp-validation-for="Img" class="text-danger"></span>
                        </div>
                    </div>
                    <img class="w-100" src="@Model?.Img" />
                </div>
                <div class=" col-lg-6 col-xl-5 pl-lg-5 mb-5 order-1 order-lg-2">

                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="Category" class="form-label"></label>
                            <div>
                                <input asp-for="Category" class="form-control" />
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Company" class="form-label"></label>
                            <div>
                                <input asp-for="Company" class="form-control" />
                                <span asp-validation-for="Company" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Name" class="form-label"></label>
                            <div>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div >
                        <label asp-for="ShortDesc" class="form-label"></label>
                        <div>
                            <input asp-for="ShortDesc" class="form-control" />
                            <span asp-validation-for="ShortDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Country" class="form-label"></label>
                        <div>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                        <div class="col-sm-6">
                            <label asp-for="Price" class="form-label"></label> $
                            <div>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <label asp-for="LongDesc" class="form-label"></label>
                        <div>
                            <textarea asp-for="LongDesc"></textarea>
                            <span asp-validation-for="LongDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label asp-for="IsFavourite" class="form-label"></label>
                            <input asp-for="IsFavourite" type="checkbox" />
                            <div>
                                <span asp-validation-for="IsFavourite" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <label asp-for="Available" class="form-label"></label>
                            <input asp-for="Available" type="checkbox" />
                            <div>
                                <span asp-validation-for="Available" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Изменить товар</font></font></button>
            <a type="button nav-link" class="text-end btn btn-danger" asp-controller="Products" asp-action="DeleteProduct" asp-route-id="@Model.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Удалить товар</font>
                </font>
            </a>
        </form>
    </div>
</section>