@model SearchViewModel
@{
    ViewData["Title"] = Model.SearchName + " - Результат поиска";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
        <h2>Результат поиска "@Model.SearchName" @Model.ProductsListViewModel.AllProducts.Count()</h2>
        <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="w-100">
            @await Html.PartialAsync("FilterHeader", Model.ProductsListViewModel)
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">
                @Html.AntiForgeryToken()
                @using (Html.BeginForm("Search", "Products", FormMethod.Post))
                {
                    @await Html.PartialAsync("ProductsFilter", Model.ProductsListViewModel)
                    <input type="hidden" name="search" value="@Model.SearchName" />
                }
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 mt-2 row" style="margin-right: 0px;margin-left: 0px;">
                @if (Model.ProductsListViewModel.AllProducts.Count() != 0)
                {
                    ShowProductViewModel showProduct = new ShowProductViewModel { Filter = null, ShopCartItems = Model.ProductsListViewModel.ShopCartItems };
                    foreach (Product product in Model.ProductsListViewModel.AllProducts)
                    {
                        showProduct.Product = product;
                        @await Html.PartialAsync("ShowProduct", showProduct)
                    }
                }
                else
                {
                    <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                }
            </main>
        </div>
    </div>
    <script src="~/js/modules/CheckboxFilter.js"></script>
</body>