@model OrderViewModel
<form asp-controller="Roles" asp-action="UserList" class="input-group">
    <div class="form-outline">
        <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Search">
    </div>
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>

<h2>Список пользователей</h2>
<div class="">
    @{
        int role = 0;
        foreach (var order in Model.AllOrders)
        {
            @if (role != order.Key.Id)
            {
                role = order.Key.Id;
                <h5 class="text-danger">@order.Key.Name</h5>
            }
            <div class="d-flex justify-content-between ">
                <div>
                    @foreach (OrderDetail orderDetail in order.Value)
                    {
                        <p>
                            @orderDetail.Product.Name
                        </p>
                    }
                </div>
            </div>
            <hr style="margin: 0.4rem 0;" />
        }
    }
</div>