@model List<Order>
@{
    ViewData["Title"] = "Заказы пользователей";
}
<h2>@ViewData["Title"]</h2>
<main>
    @foreach (var order in Model)
    {
        @await Html.PartialAsync("ModerCardOrderPartial", order)
    }
</main>
