<meta name="viewport" content="width=device-width" />
<meta charset="utf-8">
<title>@ViewBag.Title</title>
<link rel=" icon" href="~/img/favicon.png" type="image/x-icon" asp-append-version="true">
<meta name="robots" content="noindex">