<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Components/MetatagsPartial")
    @await Html.PartialAsync("Components/CssPartial")
    @await RenderSectionAsync("Css", false)
</head>
<body>
    @await Html.PartialAsync("Components/HeaderPartial")
    <div class="container" id="container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("Components/CookieNotificationPartial")
    @await Html.PartialAsync("Components/FooterPartial")
    @await Html.PartialAsync("Components/RatingAreaPartial")
    @await Html.PartialAsync("Components/ScriptsPartial")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
