<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" asp-append-version="true"/>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Интернет магазин</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Catalog">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index">Все товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-controller="ShopCart" asp-action="Index">Корзина</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Roles" asp-action="Index">Управление ролями</a>
                            </li>
                        }
                        @if (User.IsInRole("moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Courier" asp-action="Index">Все заказы</a>
                            </li>
                        }
                        @if (User.IsInRole("courier"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Courier" asp-action="CourierOrders">Мои заказы</a>
                            </li>
                        }
                    </ul>
                    <form asp-controller="Products" asp-action="Search" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Logout">Выйти</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
</body>
</html>
