<input class="check-filter" type="checkbox" checked name="selected" value="A" />
<input class="check-filter" type="checkbox" data-bind="" name="selected" value="B" />
<input class="check-filter" type="checkbox" name="selected" value="C" />
<input class="check-filter" type="checkbox" name="selected" value="D" />
<input class="check-filter" type="checkbox" name="selected" value="E" />
<button ></button>
<div id="asd" class="a"></div>
<script src="~/jquery/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script>

</script>