<html class="h-100">
@{
    ViewData["Title"] = "Ошибка";
}
<head>
</head>
<body class="d-flex h-100 text-dark bg-white">
    <div class=" cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="mb-auto mt-auto px-3">
            <h1>Ошибка</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
        </main>
    </div>
</body>
</html>
