<footer id="footer">
    <hr>
    <p class="float-end mx-5"><a href="#">Подняться</a></p>
    <p class="align-content-center text-danger mx-5">Этот сайт не является настоящим интернет-магазином, это только дипломная работа</p>
    <p class="align-content-center text-danger mx-5">Не вводите свои настоящие данные.</p>
    <p class="mx-5">© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
</footer>