<footer id="footer">
    <hr>
    <p class="float-end mx-5"><a href="#">Подняться</a></p>
    <p class="mx-5">© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
</footer>