@model ProductsListViewModel

@if (Model.Filter != null)
{
    foreach (KeyValuePair<string, int> item in Model.Filter)
    {
        int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
        int filterId = item.Value - 1;
        string name = String.Format("filters[{0}-{1}]", categoryId, filterId);
        string i = Model.FilterSort[categoryId].Selections[filterId].Name;
        <a asp-controller="Products" asp-action="?" asp-route-search="?" asp-route-filters="@Model.Filter" asp-route-deleteFilter="@categoryId" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Категория товара" id="l0_b1">
            <p class="navbar-nav schema-tags__text">@i</p>
        </a>

    }
}