<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-3">
    @{
        foreach (Car car in Model.AllCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
<script src="~/js/bootstrap.min.js"></script>
