<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44320" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100\DotnetTools\dotnet-watch\6.0.100-rtm.21527.8\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:64687/InternetShop/" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5Y5eznJQAeYEFrYrAyUgWj5W58GfnNwXpGzicc5A//IXxihFOZmDYqeVs79UG8ibUCNspW+BQcpZdW18mcDBMexJNe2+/A3ki9TrmuXLjoUMcH5NXe/3RF69Dd287crwD/BSVZkcZBFKNoodOiVKOJyxoUnMjbpnr5yF/Kz5EUgUn+4iCW5TAGZjCYDPL/yGEKWMOUB+BUvogcxsKTdmaIZOWkFeAFyK+VuUBlHcKZMZ5/7QACsak2JHZw5zrXNm+LPbSnLoM3I83Kgb/YTVqfzALYDYAvxUvfyQPA0LROFsDyHunkqInftT+lVNTIvvSuQs4nALJ3sM46UCc5XF3QIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>