<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string='workstation id=InternetShop.mssql.somee.com;packet size=4096;user id=fe1jer_SQLLogin_1;pwd=l6waiwfu1p;data source=InternetShop.mssql.somee.com;persist security info=False;initial catalog=InternetShop;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\WebApplication1.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>