@model LoginViewModel
@{
    ViewData["Title"] = "Вход";
}
@section Css{
    <link href="/css/signin.css" rel="stylesheet" asp-append-version="true">
}
<main class="form-signin text-center">
    <form asp-action="Login" method="post">
        <h1 class="mb-4" width="72" height="57">
            Fe1jer
        </h1>
        <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-floating">
            <input asp-for="Email" id="floatingInput" class="form-control" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" id="floatingInput" class="form-control" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-1">
            <input asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
        </div>
        <a asp-action="Register" asp-controller="Account">
            Регистрация
        </a>
        <br>
        <a asp-action="ForgotPassword" asp-controller="Account">
            Забыли пароль?
        </a>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
</main>
