@model RegisterViewModel
<html>
<head>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet" asp-append-version="true">
</head>
<body class="text-center">

    <main class="form-signin">
        <form asp-action="Register" method="post">
            <h1 class="mb-4" width="72" height="57">
                Fe1jer
            </h1>
            <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>
            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <label asp-for="Email" class="visually-hidden"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password" class="visually-hidden"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="ConfirmPassword" class="visually-hidden"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </main>



</body>
</html>
