<html class="h-100">
@{
    ViewData["Title"] = "Ошибка аутентификации почты отправителя";
}
<body class="d-flex h-100 text-dark bg-white">
    <div class=" cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="mb-auto mt-auto px-3">
            <h1>Ошибка 535</h1>
            <h5>Эта ошибка может возникнуть, если нам была запрещена автоматическая отправка сообщений пользователям.</h5>
            <h5>При возможности, сообщите нам об этой ошибке.</h5>
        </main>
    </div>
</body>
</html>
