.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(244,244,244,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

li.toc-entry a {
    display: block;
    padding: .300rem .5rem;
    color: #77757a;
}

.card-image {
    width: 318px;
    height: 220px;
    object-fit: contain;
}

.img_wrap {
    width: 177%;
    height: 100%;
    overflow: hidden;
    border-style: solid;
}

textarea {
    padding: 10px; /* Поля */
    width: 100%; /* Ширина */
    height: 200px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
}

h6 {
    word-wrap: break-word; /* old name */
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.multiple-items .row {
    --bs-gutter-x: 0.6rem;
}

button.position-right {
    float: right
}

.i {
    width: 29px;
    height: 29px;
    color: #007bff;
    display: inline-block;
    vertical-align: bottom;
}

#l0_b1 {
    display: block;
    float: left;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    padding-left: 0
}
    #myInput:focus {
        outline: 3px solid #ddd;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.show {
    display: block;
}

.schema-tags__item:after {
    content: '×';
    opacity: .5;
    position: absolute;
    top: 3px;
    right: 5px;
    speak: none;
}

.schema-tags__item {
    --bs-gutter-x: 1.5rem;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    border-radius: 2px;
    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.schema-tags__text {
    background: #eee;
    padding: 4px 20px 4px 10px;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}