body {
    background: #fcfcfc;
    padding-top: 4.5rem;
}

p{
    margin: 0.3em auto;
}

h3{
    margin: 0em;
}


.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}


    .scale img {
        transform: scale(0.85);
        transition: 1s; /* Время эффекта */
        display: block; /* Убираем небольшой отступ снизу */
    }

        .scale img:hover {
            transform: scale(1); /* Увеличиваем масштаб */
        }