<html class="h-100">
<head>
</head>
<body class="d-flex h-100 text-dark bg-white">

    <div class="pt-5 cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="mb-auto mt-auto px-3">
            <h1>Ошибка 404</h1>
            <h5>Если вы решили поиграться с маршрутом сайта, то попытка неудачная</h5>
            <h5>Если вы считаете, что сделали всё правильно, ошибка скоро будет исправлена</h5>
        </main>
    </div>
</body>
</html>
