@model ShopCartViewModel
<div class=" pt-5 mt-2">
    <h1>Корзина</h1>
    @foreach (var el in Model.ShopCart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль </b>@el.Car.Name<br />
            <b>Цена: </b>@el.Car.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))
        </div>
    }

    @if (Model.ShopCart.ListShopItems.Count != 0)
    {
        <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
    }
</div>
<hr class="featurette-divider">
<footer class="container">
    <p class="float-end"><a href="#">Подняться</a></p>
    <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
</footer>