@model News

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <img src="@Model.Img" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavImg" class="control-label"></label>
                <img src="@Model.FavImg" />
                <span asp-validation-for="FavImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductHref" class="control-label"></label>
                <input asp-for="ProductHref" class="form-control" />
                <span asp-validation-for="ProductHref" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateData" class="control-label"></label>
                <input asp-for="CreateData" class="form-control" />
                <span asp-validation-for="CreateData" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="">
    <a asp-action="News">Back to List</a>
</div>

