<html class="h-100">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/Сover.css" type="text/css" asp-append-version="true"/>
</head>
<body class="d-xxl-flex h-100 text-white bg-dark">

    <div class=" cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="mb-auto mt-auto px-3">
            <h1>Интернет магазин</h1>
            <h5 class="">Лучший сайт по подбору цифровой техники. Крупнейший ассортимент техники среди магазинов. Лучшие цены и выгодные предложения</h5>
            <p class="lead">
                <a href="/Home/Catalog" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font size="5" color="black" face="Arial">Узнать больше</font></a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Автор сайта: <a href="https://github.com/Fe1jer" class="text-white">Fe1jer</a></p>
        </footer>
    </div>

</body>
</html>
