@model HomeViewModel
@{
    ViewData["Title"] = "Обложка";
}
@section Css{
    <link rel="stylesheet" href="~/css/Сover.css" type="text/css" asp-append-version="true" />
    <style>
        #container {
            padding-bottom: 0;
        }

        footer {
            display: none;
        }

        html {
            height: 100%;
        }
    </style>
}

<body class="d-flex h-100 text-white bg-dark">
    <div class="cover-container text-center d-flex w-100 h-100 mx-auto flex-column">
        <main class="mb-auto mt-auto">
            <h1>Интернет магазин</h1>
            <p class="rating-result">
                @for (int i = 1; i <= 5; i++)
                {
                    if (i <= Model.Rating)
                    {
                        <span class="active"></span>
                    }
                    else
                    {
                        <span></span>
                    }
                }
                @Math.Round(Model.Rating, 1) из 5
            </p>
            <h5 class="">Лучший сайт по подбору цифровой техники. Крупнейший ассортимент техники среди магазинов. Лучшие цены и выгодные предложения</h5>
            <p class="lead">
                <a href="/Home/News" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font size="5" color="black" face="Arial">Узнать больше</font></a>
            </p>
        </main>
        <div class="mt-auto text-white-50">
            <p>Автор сайта: <a href="https://github.com/Fe1jer" target="_blank" class="text-white">Fe1jer</a></p>
            <p class="align-content-center text-danger">Этот сайт не является настоящим интернет-магазином, это только дипломная работа.</p>
            <p class="align-content-center text-danger">Если хотите оценить или помочь, напишите оператору, если увижу, могу даже ответить.</p>
            <p class="align-content-center text-danger">Не вводите свои настоящие данные.</p>
        </div>
    </div>
</body>