<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>Фон</title>
    <style>

        body {
            background-position: center;
            background-image: url(/img/Home\ image.jpg); /* Путь к фоновому изображению */
            background-size: 120%;
            transition: 1s;
        }

            body:hover {
                background-size: 100%;
                background-position: center;
            }
    </style>

</head>
<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="mb-auto mt-auto px-3">
            <h1>Автосалон</h1>
            <p class="lead">Лучший сайт по подбору автомобиля. Можно подобрать авто под вас, а так же узнать какие авто сейчас в моде</p>
            <p class="lead">
                <a href="/Home/Catalog" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font size="5" color="black" face="Arial">Узнать больше</font></a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Автор сайта: <a href="https://github.com/Fe1jer" class="text-white">Fe1jer</a></p>
        </footer>
    </div>

</body>
</html>
