@model Product
@{
    ViewData["Title"] = "Добавление товара";
}
@section Css{
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
}
<section class="product-details mb-4 mt-2">
    <div class="container-fluid">
        <form asp-action="Create" method="post">
            <div class="row">
                <div class="col-lg-6 py-3 order-2 order-lg-1">
                    <div class="col-sm-6">
                        <label asp-for="Img" class="form-label"></label>
                        <div class="input-group">
                            <input asp-for="Img" class="form-control" />
                            <span asp-validation-for="Img" class="text-danger"></span>
                        </div>
                    </div>
                    <img class="w-100" src="@Model?.Img" />
                </div>
                <div class="col-lg-6 pl-lg-5 mb-5 order-1 order-lg-2">

                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="Category" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Category" class="form-control" />
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Company" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Company" class="form-control" />
                                <span asp-validation-for="Company" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label asp-for="Name" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div class="input-group">
                        <label asp-for="ShortDesc" class="form-label"></label>
                        <div class="input-group">
                            <input asp-for="ShortDesc" class="form-control" />
                            <span asp-validation-for="ShortDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Country" class="form-label"></label>
                        <div class="input-group">
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                        <div class="col-sm-6">
                            <label asp-for="Price" class="form-label"></label> $
                            <div class="input-group">
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label asp-for="LongDesc" class="form-label"></label>
                        <div class="input-group">
                            <textarea asp-for="LongDesc"></textarea>
                            <span asp-validation-for="LongDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <label asp-for="IsFavourite" class="form-label"></label>
                            <input asp-for="IsFavourite" type="checkbox" />
                            <span asp-validation-for="IsFavourite" class="text-danger"></span>
                        </div>
                        <div class="container">
                            <label asp-for="Available" class="form-label"></label>
                            <input asp-for="Available" type="checkbox" checked />
                            <span asp-validation-for="Available" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddProduct">
                Добавить продукт
            </button>
            <div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="AddProduct" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddProduct">Добавить продукт</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Перед тем как добавить новый продукт, проверьте правильность заполнения всех ячеек описания продукта
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>