@model CreateChangeProductViewModel
@{
    ViewData["Title"] = "Добавление товара";
}
@section Css{
<link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/product.css" type="text/css" asp-append-version="true" />
}
<section class="product-details mb-4 mt-2">
    <div class="container-fluid">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="mr-5 px-2 col-lg-6">
                    <div class="shadow-lg p-3 mb-2 bg-white rounded">
                        <div class="col-sm-6">
                            <label asp-for="Product.Img" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Product.Img" class="form-control" />
                                <span asp-validation-for="Product.Img" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <input asp-for="Uploads" multiple="" type="file" class="form-control" accept=".jpg, .jpeg, .png" style="display: revert; width:290px">
                                <span asp-validation-for="Uploads" class="text-danger"></span>
                            </div>
                        </div>
                        <img class="w-100" src="@Model?.Product.Img" />
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="Product.ProductType.Category" class="form-label"></label>
                                <div class="input-group">
                                    <input asp-for="Product.ProductType.Category" class="form-control" />
                                    <span asp-validation-for="Product.ProductType.Category" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="Product.ProductType.Company" class="form-label"></label>
                                <div class="input-group">
                                    <input asp-for="Product.ProductType.Company" class="form-control" />
                                    <span asp-validation-for="Product.ProductType.Company" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="Product.ProductType.Name" class="form-label"></label>
                                <div class="input-group">
                                    <input asp-for="Product.ProductType.Name" class="form-control" />
                                    <span asp-validation-for="Product.ProductType.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Product.ShortDesc" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Product.ShortDesc" class="form-control" />
                                <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Product.Country" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Product.Country" class="form-control" />
                                <span asp-validation-for="Product.Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-6">
                                <label asp-for="Product.Price" class="form-label"></label> $
                                <div class="input-group">
                                    <input asp-for="Product.Price" min="0" class="form-control" />
                                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label asp-for="Product.Count" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Product.Count" min="0" class="form-control" />
                                <span asp-validation-for="Product.Count" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" ml-5 px-2 col-lg-6 pl-lg-5 mb-2">
                    <div class="shadow-lg p-2 mb-5 bg-white rounded">
                        <div class="mb-2 p-2 pl-0 d-flex">
                            <input class="form-control me-2" type="text" id="name_attribute" placeholder="Имя характеристики" />
                            <input type="button" id="add_button_attribute" class="btn btn-outline-success" value="Добавить" />
                        </div>
                        <div class="div_product_attributes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mb-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddProduct">
                    Добавить продукт
                </button>
            </div>
            <div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="AddProduct" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddProduct">Добавить продукт</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Перед тем как добавить новый продукт, проверьте правильность заполнения всех ячеек описания продукта
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts{
<script src="~/js/modules/products.js"></script>
}
