@model ProductsListViewModel
@{
    ViewData["Title"] = "Все товары";
}
@section Css{
<link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
}
<div class="row">
    <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
        <h2>Все товары @Model.AllProducts.Count()</h2>
        <button class="navbar-toggler position-sticky d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="filterHeader" class="w-100">
            @await Html.PartialAsync("FilterHeaderPartial", Model)
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-lg-2 d-lg-block sidebar collapse" style="padding:0">
                @using (Html.BeginForm("Index", "Catalog", FormMethod.Get))
                {
                    @await Html.PartialAsync("ProductsFilterPartial", Model)
                }
            </nav>
            <main id="content" class="ps-lg-4 pe-lg-0 col-lg-10 mt-2" style="position: relative">
                @await Html.PartialAsync("ProductsListPartial", Model.AllProducts)
            </main>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" async></script>
<script src="~/js/modules/checkboxFilter.js" asp-append-version="true"></script>
<script src="~/js/modules/products.js" asp-append-version="true"></script>
<script src="~/js/modules/shopCart.js" asp-append-version="true"></script>
<script>
    var url;
</script>
}